<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ooad_project1.Properties.Settings.supermarketConnectionString"
            connectionString="Data Source=AMIN_MUHAMMAD;Initial Catalog=supermarket;Persist Security Info=True;User ID=sa;Password=aminmohd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>